.App {
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
}

body{

  background-image: url("../vector-grunge-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

form{
  display: flex;
  flex-direction: column;
  }

  input[type=submit]{
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 5%;
  }

.row{
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.square{
  background-color: transparent;
  border: solid 1px;
  width: 3vw;
  height: 3vh;
  margin: 0px;
  padding: 0px;
}

.grid{
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;

}

.title-image{
  width: 70%;
  height: 70%;
}

.with-ship{
  background-color: blue;
}

.gridContainer{
  display: flex;
 justify-content: space-around;
}

.salvoFired{
  background-color: orange;
}

.salvoHit{
  background-color: red;
}

.react-bootstrap-table{
  width: 60vw;
  word-break: break-all;
  padding: 0px;
}


.games-container{
  display: flex;
  flex-direction: column;
  width: 70%;
}

.main-content{
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.5);
  padding-bottom: 10%;
}

.game-page-wrapper{
  display: flex;
}

.login-sign-up-btns{
  display: flex;
  justify-content: space-around;
}

.login-signup-container{
  background-color: rgba(193, 66, 66, 0.2);
  padding: 5%;
  margin-top: 5%;
}

.login-form, .sign-up-form{
  background-color: rgba(255, 255, 255, 0.5);
  padding: 2%;
}

.login-title, .sign-up-title{
  margin: 0px;
  padding: 2%;
  flex-grow: 1;
  border: 0px;
  font-size: 1.5em;
}

.inactive-form{
  background-color: transparent;
}

.active-form{
  background-color: rgba(255, 255, 255, 0.5);
}

.submit-btn{
  margin: 2%;
  border: 0px;
  background-color: rgba(255, 255, 255, 0.7);
}

.logout{
  margin: 2%;
}

.main-ships-container{
  flex-grow: 1;
}

.ships-data{
  margin-top: 2%;
  display: flex;
  justify-content: center;
}
