@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

html{
  height: 100vh;
}

.App {
  text-align: center;
  /*margin-left: 10%;*/
  /*margin-right: 10%;*/
  height: 100vh;
}

body{

  /*background-image: url("../vector-grunge-background.jpg");*/
  /*background-repeat: no-repeat;*/
  /*background-size: cover;*/
  overflow-y: hidden;
  height:100vh;
  font-family: 'Press Start 2P', cursive;
  font-size: 1.25em;
}

.side-menu{
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  position: relative;
}

.App-title {
  font-size: 2em;
  position: absolute;
  top:80%;
  left: 35%;
}



.App-intro {
  font-size: large;
}

form{
  display: flex;
  flex-direction: column;
  }

  input[type=submit]{
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 5%;
  }

.row{
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.square{
  background-color: transparent;
  border: solid 1px lightgray;
  width: 5.5vh;
  height: 5.5vh;
  margin: 0px;
  padding: 0px;
}

.grid{
  display: flex;
  flex-direction: column;
  height: fit-content;

}

.title-image{
  width: 70%;
  height: 70%;
}

.with-ship{
  background-color: blue;
}

.gridContainer{
  display: flex;
 justify-content: space-around;
}

.salvoFired{
  background-color: orange;
}

.salvoHit{
  background-color: red;
}

.react-bootstrap-table{
  width: 60vw;
  word-break: break-all;
  padding: 0px;
}


.games-container{
  position: absolute;
  top: 10%;
  display: flex;
  flex-direction: column;
  width: 60%;
}

.main-content{
  height: fit-content;
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.5);
  padding-bottom: 10%;
}

.game-page-wrapper{
  display: flex;
  width: fit-content;
  justify-content: space-around;
}

.login-sign-up-btns{
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
}

.login-signup-container{
  background-color: rgba(193, 66, 66, 0.2);
  padding: 5%;
  margin-top: 5%;
}

.login-form, .sign-up-form{
  background-color: rgba(255, 255, 255, 0.5);
  padding: 2%;
}

.login-title, .sign-up-title{
  margin: 0px;
  padding: 2%;
  flex-grow: 1;
  border: 0px;
  font-size: 1.5em;
}

.login{
  position: absolute;
  top: 2%;
  left: 65%;
}

.inactive-form{
  background-color: transparent;
}

.active-form{
  background-color: rgba(255, 255, 255, 0.5);
}

.submit-btn{
  margin: 2%;
  border: 0px;
  background-color: rgba(255, 255, 255, 0.7);
}


.main-ships-container{
  flex-grow: 1;
  position: absolute;
  top: 2%;
  width: 68%;
  background: rgba(255, 255, 255, 0.5);
  padding: 1%;
}

.ships-data{
  margin-top: 2%;
  display: flex;
  justify-content: space-around;
}

.logout{
  position: absolute;
  top: 10%;
  left: 60%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.normal:hover{
  background-color: aliceblue;
}

.ship-icon{
  z-index: 100;
}

.ship-container.horizontal{
  display: flex;
  height: 5.5vh;
}

.ship-container.vertical{
  display: flex;
  height: fit-content;
  width: 5.5vh;
  flex-direction:column;
}


#patrol-boat.horizontal{
  width: 11vh;
}

#destroyer.horizontal, #submarine.horizontal{
  width: 16.5vh;
}

#battleship.horizontal{
  width: 22vh;
}

#a-carrier.horizontal{
  width: 27.5vh;
}

.shipTitle{
  height: fit-content;
  width: fit-content;
}

.shipsToChoose{
  margin-left: 10%;
  width: 70%;
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  align-items: right;
}

.ship-wrapper{
  height: fit-content;
  width: fit-content;
}

.orientation-btns{
  height: 5%;
  margin: 2%;
}

.orient-active, .orient-inactive{
  height: 100%;
}

.all-boats-cont{
  margin-left: 5%;
  width: fit-content;
  padding-top: 2%;
}

.orient-active{
  border: 0px;
  background-color: cornflowerblue;
  color: white;
}

.orient-inactive{
  border: 0px;
  background-color: white;
}

.square.green{
  background-color: green;
}

.square.red{
  background: red;
}

.undo-pos, .undo-salvo{
  background-color: red;
  padding: 5%;
  border: 0px;
}

.undo-salvo{
  margin: 1%;
  padding: 0.5%;
}

.bottom-div-boats{
  display: flex;
}

.submit-ships{
  padding-top: 10%;
  padding-left: 5%;
}

.fire-salvoes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  flex-basis: -moz-min-content;
}

.fire-salvoes > button {
  height: 10%;
  margin-left: 5%;
  flex-grow: 0;
}

.gridContainer > div{
  width: fit-content;
  height: fit-content;
}

.button-and-results {
  margin-left: 10%;
}

.red-salvo{
  color: red;
}

.ship-icon > img{
  height: 100%;
  width: 100%;
}

.grid-and-ships{
  display: flex;
}

.salvo > img{
  height: 70%;
  width: 70%;
}

.grid{
  margin-left: 5%;
}

.to-be-removed{
  filter:sepia(1);
}

.board-or-gamelist{
  margin-top: 10%;
  background: rgba(255,255,255, 0.4);
}