html{
  height: fit-content;
}

.App {
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  height: fit-content;
}

body{

  background-image: url("../vector-grunge-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: fit-content;
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

form{
  display: flex;
  flex-direction: column;
  }

  input[type=submit]{
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 5%;
  }

.row{
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.square{
  background-color: transparent;
  border: solid 1px lightgray;
  width: 3vw;
  height: 3vh;
  margin: 0px;
  padding: 0px;
}

.grid{
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;

}

.title-image{
  width: 70%;
  height: 70%;
}

.with-ship{
  background-color: blue;
}

.gridContainer{
  display: flex;
 justify-content: space-around;
}

.salvoFired{
  background-color: orange;
}

.salvoHit{
  background-color: red;
}

.react-bootstrap-table{
  width: 60vw;
  word-break: break-all;
  padding: 0px;
}


.games-container{
  display: flex;
  flex-direction: column;
  width: 70%;
}

.main-content{
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.5);
  padding-bottom: 10%;
}

.game-page-wrapper{
  display: flex;
  width: fit-content;
  justify-content: space-around;
}

.login-sign-up-btns{
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
}

.login-signup-container{
  background-color: rgba(193, 66, 66, 0.2);
  padding: 5%;
  margin-top: 5%;
}

.login-form, .sign-up-form{
  background-color: rgba(255, 255, 255, 0.5);
  padding: 2%;
}

.login-title, .sign-up-title{
  margin: 0px;
  padding: 2%;
  flex-grow: 1;
  border: 0px;
  font-size: 1.5em;
}

.inactive-form{
  background-color: transparent;
}

.active-form{
  background-color: rgba(255, 255, 255, 0.5);
}

.submit-btn{
  margin: 2%;
  border: 0px;
  background-color: rgba(255, 255, 255, 0.7);
}

.logout{
  margin: 2%;
}

.main-ships-container{
  flex-grow: 1;
}

.ships-data{
  margin-top: 2%;
  display: flex;
  justify-content: space-around;
}

.logout{
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.normal:hover{
  background-color: aliceblue;
}

.ship-icon{
  z-index: 100;
}

.ship-container{
  display: flex;
  justify-content: space-around;
  height: fit-content;
  width: fit-content;
  background-color: lightgray;
  padding-bottom: 0.75%;
}

.shipTitle{
  height: fit-content;
  width: fit-content;
}

.shipsToChoose{
  padding-left: 2%;
}

.all-boats-cont{
  width: fit-content;
  padding-top: 2%;
  padding-left: 15%;
}

.orient-active{
  border: 0px;
  background-color: cornflowerblue;
  color: white;
}

.orient-inactive{
  border: 0px;
  background-color: white;
}

.square.green{
  background-color: green;
}

.square.red{
  background: red;
}

.undo-pos, .undo-salvo{
  background-color: red;
  padding: 1%;
  border: 0px;
}

.undo-salvo{
  margin: 1%;
  padding: 0.5%;
}

.bottom-div-boats{
  display: flex;
}

.submit-ships{
  padding-top: 10%;
  padding-left: 5%;
}

.fire-salvoes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  flex-basis: -moz-min-content;
}

.fire-salvoes > button {
  height: 10%;
  margin-left: 5%;
  flex-grow: 0;
}

.gridContainer > div{
  width: fit-content;
  height: fit-content;
}